
      <!-- Libs JS -->
<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.min.js"></script>

<!-- Theme JS -->


<script>
      $(document).ready(function () {
            $('table').DataTable({
                  
            });
      });
</script>
<script src="../assets/js/theme.min.js"></script>

   </body>
</html>
