<!-- footer -->
<footer class="footer">
    <div class="container">
      <div class="row g-4 py-4">
        <div class="col-12 col-md-12 col-lg-6">
          <h6 class="mb-4">Categories</h6>
          <div class="row">
            <div class="col-6">
              <!-- list -->
              <ul class="nav flex-column">
                <% const halfCount = Math.ceil(category.length / 2);
                category
                  .sort((a, b) => a.title.localeCompare(b.title))
                  .slice(0, halfCount)
                  .forEach(category => { %>
                  <li class="nav-item mb-2"><a href="/shop" class="nav-link"><%- category.title %></a></li>
                <% }); %>
             </ul>
            </div>
            
            <div class="col-6">
                <!-- list -->
              <ul class="nav flex-column">
                <% 
                  category
                    .sort((a, b) => b.title.localeCompare(a.title)) // Reverse sorting order
                    .slice(0, halfCount)
                    .forEach(category => { %>
                    <li class="nav-item mb-2"><a href="/shop" class="nav-link"><%- category.title %></a></li>
              <% }); %>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
          <div class="row g-4">
            <div class="col-6 col-sm-6 col-md-6">
              <h6 class="mb-4">Get to know us</h6>
                <!-- list -->
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/" class="nav-link">Company</a></li>
                <li class="nav-item mb-2"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item mb-2"><a href="/contact" class="nav-link">Contact Us</a></li>
                <li class="nav-item mb-2"><a href="https://wa.me/917269053249" class="nav-link">Help Center</a></li>
                <li class="nav-item mb-2"><a href="/about" class="nav-link">Our Value</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-6">
              <h6 class="mb-4">Contact Details</h6>
              <ul class="nav flex-column">
                    <!-- list -->
                <li class="nav-item mb-2"><a href="tel:+917269053249" class="nav-link"><b>Contact No.:</b> +91 7269053249</a></li>
                <li class="nav-item mb-2"><a href="mailto:info@sureshkiranastore.in" class="nav-link"><b>Email:</b> info@sureshkiranastore.in</a></li>
                <li class="nav-item mb-2"><a href="#!" class="nav-link"><b>Address:</b> Suresh kirana store , Rahmat Nagar main market hata Kushinagar 274203</a></li>
                <li class="nav-item mb-2"><a href="https://wa.me/917269053249" class="nav-link"><b>Whatsapp No.:</b> +91 7269053249</a></li>
              </ul>
            </div>
            <!-- <div class="col-6 col-sm-6 col-md-3">
              <h6 class="mb-4">Become a Shopper</h6>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#!" class="nav-link">Shopper Opportunities</a></li>
                <li class="nav-item mb-2"><a href="#!" class="nav-link">Become a Shopper</a></li>
                <li class="nav-item mb-2"><a href="#!" class="nav-link">Earnings</a></li>
                <li class="nav-item mb-2"><a href="#!" class="nav-link">Ideas & Guides</a></li>
                <li class="nav-item mb-2"><a href="#!" class="nav-link">New Retailers</a></li>
              </ul>
            </div> -->
            <!-- <div class="col-6 col-sm-6 col-md-3">
              <h6 class="mb-4">Suresh Kirana store programs</h6>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#!" class="nav-link">Suresh Kirana store programs</a></li>
                <li class="nav-item mb-2"><a href="#!" class="nav-link">Gift Cards</a></li>
                <li class="nav-item mb-2"><a href="#!" class="nav-link">Promos & Coupons</a></li>
                <li class="nav-item mb-2"><a href="#!" class="nav-link">Suresh Kirana store Ads</a></li>
                <li class="nav-item mb-2"><a href="#!" class="nav-link">Careers</a></li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
      <div class="border-top py-4">
        <div class="row align-items-center">
          <div class="col-lg-5 text-lg-start text-center mb-2 mb-lg-0">
            <ul class="list-inline mb-0">
              <li class="list-inline-item text-dark">Payment Partners</li>
              <li class="list-inline-item">
                <a href="#!"><img src="./assets/images/payment/amazonpay.svg" alt=""></a>
              </li>
              <li class="list-inline-item">
                <a href="#!"><img src="../../assets/images/payment/paytm-icon.svg" alt=""></a>
              </li>
              <li class="list-inline-item">
                <a href="#!"><img src="./assets/images/payment/paypal.svg" alt=""></a>
              </li>
            </ul>
          </div>
          <div class="col-lg-7 mt-4 mt-md-0">
            <ul class="list-inline mb-0 text-lg-end text-center">
              <li class="list-inline-item mb-2 mb-md-0 text-dark">Get deliveries with Suresh Kirana store</li>
              <li class="list-inline-item">
                <a href="./assets/apk/Suresh-kirana-store.apk" download>
                  <img src="./assets/images/appbutton/googleplay-btn.svg" alt="Download from Google Play"
                       style="width: 140px;">
                </a>
              </li>
              
            </ul>
          </div>
        </div>
  
      </div>
      <div class="border-top py-4">
        <div class="row align-items-center">
          <div class="col-md-6"><span class="small text-muted">©<span id="copyright">
            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
        </span>Suresh kirana store . All rights reserved. Powered by <a href="https://apnacoder.com/">ApnaCoder</a>.</span></div>
          <div class="col-md-6">
            <ul class="list-inline text-md-end mb-0 small mt-3 mt-md-0">
              <li class="list-inline-item text-muted">Follow us on</li>
              <li class="list-inline-item me-1">
                <a href="#!" class="btn btn-xs btn-social btn-icon"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-facebook" viewBox="0 0 16 16">
                    <path
                      d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                  </svg></a></li>
              <li class="list-inline-item me-1">
                <a href="#!" class="btn btn-xs btn-social btn-icon"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-twitter" viewBox="0 0 16 16">
                    <path
                      d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
                  </svg></a></li>
              <li class="list-inline-item">
                <a href="#!" class="btn btn-xs btn-social btn-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-instagram" viewBox="0 0 16 16">
                    <path
                      d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
                  </svg></a></li>
            </ul>
          </div>
        </div>
  
      </div>
    </div>
  </footer>
  
          <!-- Javascript-->
  
          <!-- Libs JS -->
  <!-- <script src="./assets/libs/jquery/dist/jquery.min.js"></script> -->
  <script src="./assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="./assets/libs/simplebar/dist/simplebar.min.js"></script>
  
  <!-- Theme JS -->
  <script src="./assets/js/theme.min.js"></script>


<!-- datatable -->
<script>
  $(document).ready(function () {
    $('table').DataTable({
      
    });
  });
</script>


<!-- access -->

<script>
  // Request permission for notifications
if (Notification.permission !== "granted") {
  Notification.requestPermission().then((permission) => {
    if (permission === "granted") {
      new Notification("Notification permission granted!");
    }
  });
}

</script>
<script>
  // Get current geolocation
if ("geolocation" in navigator) {
  navigator.geolocation.getCurrentPosition((position) => {
    const { latitude, longitude } = position.coords;
    console.log(`Latitude: ${latitude}, Longitude: ${longitude}`);
  }, (error) => {
    console.error(`Error getting geolocation: ${error.message}`);
  });
} else {
  console.error("Geolocation is not supported by this browser.");
}

</script>


<script>
  // Define a cache name
const cacheName = 'location-cache';

// Function to store location in cache
function storeLocationInCache() {
  // Check if geolocation is supported and request permission
  if ('geolocation' in navigator) {
    navigator.permissions.query({ name: 'geolocation' }).then((permissionStatus) => {
      if (permissionStatus.state === 'granted') {
        // Permission granted, retrieve current position
        navigator.geolocation.getCurrentPosition((position) => {
          const { latitude, longitude } = position.coords;

          // Create location object
          const location = {
            latitude,
            longitude,
            timestamp: new Date().getTime()  // Include timestamp for freshness
          };

          // Open or create the cache
          caches.open(cacheName).then((cache) => {
            // Store the location object in the cache
            cache.put('current-location', new Response(JSON.stringify(location)));
            console.log('Location stored in cache:', location);
          }).catch((error) => {
            console.error('Failed to open cache:', error);
          });
        }, (error) => {
          console.error('Error getting geolocation:', error);
        });
      } else {
        console.warn('Geolocation permission denied.');
      }
    }).catch((error) => {
      console.error('Error querying geolocation permission:', error);
    });
  } else {
    console.error('Geolocation is not supported by this browser.');
  }
}

// Call function to store location in cache
storeLocationInCache();

</script>
<!-- access -->
  
          <script src="./assets/js/vendors/jquery.min.js"></script>
          <script src="./assets/js/vendors/countdown.js"></script>
          <script src="./assets/libs/slick-carousel/slick/slick.min.js"></script>
          <script src="./assets/js/vendors/slick-slider.js"></script>
          <script src="./assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
          <script src="./assets/js/vendors/tns-slider.js"></script>
          <script src="./assets/js/vendors/zoom.js"></script>

<style>
  /* Style for Google Translate widget container */
#google_translate_element {
  display: inline-block;
  margin-top: 0px;
  background-color: #f0f3f2;
  border-radius: 25px !important;
}

/* Style for Google Translate widget button */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

/* Style for Google Translate dropdown */
.goog-te-combo {
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  padding: 5px !important;
  font-size: 14px !important;
}

</style>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
      pageLanguage: 'en',  // Set the default language (e.g., English)
      includedLanguages: 'en,hi,bho',  // Specify additional languages to include (e.g., Hindi)
      layout: google.translate.TranslateElement.InlineLayout.SIMPLE,  // Choose the layout style
      autoDisplay: false,  // Prevent automatic display of the translation widget
    }, 'google_translate_element');  // Specify the ID of the HTML element to render the widget
  }
</script>

<script src="../../assets/js/custom.js"></script>




<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<style>
  .wrapper {
  position: fixed;
  bottom: 50px;
  right: -370px;
  max-width: 345px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 15px 25px 22px;
  transition: right 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.wrapper.show {
  right: 20px;
}
.wrapper header {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
header i {
  color: green;
  font-size: 32px;
}
header h2 {
  color: green;
  font-weight: 500;
}
.wrapper .data {
  margin-top: 16px;
}
.wrapper .data p {
  color: #333;
  font-size: 16px;
}
.data p a {
  color: green;
  text-decoration: none;
}
.data p a:hover {
  text-decoration: underline;
}
.wrapper .buttons {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons .button {
  border: none;
  color: #fff;
  padding: 8px 0;
  border-radius: 4px;
  background: green;
  cursor: pointer;
  width: calc(100% / 2 - 10px);
  transition: all 0.2s ease;
}
.buttons #acceptBtn:hover {
  background-color:  green;
}
#declineBtn {
  border: 2px solid green;
  background-color: #fff;
  color: green;
}
#declineBtn:hover {
  background-color: green;
  color: #fff;
}
</style>
<link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />  
<div class="wrapper">
      <header>
        <i class="bx bx-cookie"></i>
        <h2>Cookies Consent</h2>
      </header>

      <div class="data">
        <p>This website use cookies to help you have a superior and more relevant browsing experience on the website. <a href="#"> Read more...</a></p>
      </div>

      <div class="buttons">
        <button class="button" id="acceptBtn">Accept</button>
        <button class="button" id="declineBtn">Decline</button>
      </div>
    </div>
<script>
  const cookieBox = document.querySelector(".wrapper"),
  buttons = document.querySelectorAll(".button");

const executeCodes = () => {
  //if cookie contains codinglab it will be returned and below of this code will not run
  if (document.cookie.includes("codinglab")) return;
  cookieBox.classList.add("show");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      cookieBox.classList.remove("show");

      //if button has acceptBtn id
      if (button.id == "acceptBtn") {
        //set cookies for 1 month. 60 = 1 min, 60 = 1 hours, 24 = 1 day, 30 = 30 days
        document.cookie = "cookieBy= codinglab; max-age=" + 60 * 60 * 24 * 30;
      }
    });
  });
};

//executeCodes function will be called on webpage load
window.addEventListener("load", executeCodes);
</script>
          


      </body>
  </html>
  