<%- include('../include/head') %>
<title>About Us - Suresh kirana store</title>

		<main>
			<!-- section -->
			<section class="mt-lg-14 mt-8">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- col -->
						<div class="offset-lg-1 col-lg-10 col-12">
							<div class="row align-items-center mb-14">
								<div class="col-md-6">
									<!-- text -->
									<div class="ms-xxl-14 me-xxl-15 mb-8 mb-md-0 text-center text-md-start">
										<h1 class="mb-6">Welcome to Suresh Kirana store</h1>
										<p class="mb-0 lead">Your one-stop destination for all your grocery needs! We're dedicated to providing the utmost convenience and quality to our customers, making shopping for groceries an effortless experience.										</p>
									</div>
								</div>
								<!-- col -->
								<div class="col-md-6">
									<div>
										<!-- img -->
										<img src="../assets/images/shop/img_1.jpg" alt="" class="img-fluid rounded" />
									</div>
								</div>
							</div>
							<!-- row -->
							<div class="row mb-12">
								<div class="col-12">
									<div class="mb-8">
										<!-- heading -->
										<h2>Ready to get started?</h2>
									</div>
								</div>
								
								<div class="col-md-12 text-center">
									<!-- card -->
									<div class="card bg-light mb-6 border-0">
										<!-- card body -->
										<div class="card-body p-8">
											<div class="mb-4">
												<!-- img -->
												<img src="../assets/images/about/about-icons-3.svg" alt="" />
											</div>
											<h4>Learn more about Suresh Kirana store</h4>
											<p>Your one-stop destination for all your grocery needs!</p>
											<!-- btn -->
											<a href="/shop" class="btn btn-dark mt-2">Learn More</a>
										</div>
									</div>
								</div>
								<div class="col">
									<!-- text -->
									<p>
										For assistance using Suresh Kirana store services, please visit our
										<a href="/contact">Help Center</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section -->
			<section class="bg-success py-14">
				<div class="container">
					<div class="row">
						<!-- col -->
						<div class="offset-lg-1 col-lg-10">
							<div class="row">
								<!-- col -->
								<div class="col-xl-8 col-md-6">
									<div class="text-white me-8 mb-12">
										<!-- text -->
										<h2 class="text-white mb-4">Trusted by retailers. Loved by customers.</h2>
										<p>At Suresh Kirana store, we understand the importance of fresh, high-quality produce and pantry essentials. That's why we've curated a wide selection of products, sourced directly from local farmers, trusted suppliers, and renowned brands. From pantry staples to dairy products, and household essentials, we've got everything you need to fill your kitchen with goodness.
										</p>
										<p>Our user-friendly online platform makes shopping a breeze. Simply browse through our extensive catalog, add items to your cart, and proceed to checkout with ease. With secure payment options and flexible delivery slots, we ensure a seamless shopping experience from start to finish.
										</p>
										<p>At Suresh Kirana store, we're not just delivering groceries; we're delivering convenience, quality, and peace of mind. Join us in simplifying your shopping experience and enjoy the freshness and convenience of Suresh Kirana store, today!</p>
									</div>
								</div>
								<div class="col-xl-4 col-md-6">
									<div style="justify-content: space-between;text-align: center;">
										<!-- img -->
										<img src="../assets/images/shop/img_2.jpg" alt="" width="100%" height="100%" class="img-fluid rounded" />
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</section>

		</main>
		<%- include('../include/footer') %>